@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');


body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(28, 23, 41);
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
      
}